.jumbotron {
  background: url("../images/login-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  height: 1300px;
  margin-bottom: 0;
  font-family: 'Poppins', sans-serif;
}

#submit,
.btn {
  border-radius: 32px;
}

.card,
#create {
  color: white;
}

.dropdown-menu-form {
  padding: 5px 10px 0;
  max-width: max-content;
}
